@import 'reset';
@import 'variables/global';
@import 'theme/dark';
@import 'theme/normal';

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

* {
    font-family: var(--font-family-main);
}

.content-page {
    display: flex;
}

.page-wrapper {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.page-wrapper > * {
    width: 100%;
}

.appps {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.sideBarLinkActive {
    color: red !important;
}
