@import url('reset.scss');
@import url('variables/global.scss');
@import url('theme/dark.scss');
@import url('theme/normal.scss');

.app {
    min-height: 100vh;
    color: var(--primary-color);
    font: var(--font-m);
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.appps {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
