.Input {
    width: 100%;

    input {
        width: 100%;
    }

    &.hidden {
        input:not(:focus) {
            outline: none;
            background: transparent;
            border: none;
        }
    }
}
