.Text {
    max-width: 100%;
}

.fullWidth {
    width: 100%;
}

.title {
    color: var(primary-color);
    font: var(--font-l);
}

.text {
    color: var(secondary-color);
    font: var(--font-m);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}
