.Navbar {
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    padding: 20px;
    background: var(--inverted-bg-color);
}

.links {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 100%;
    max-width: 100%;
}
