.Navbar {
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    padding: 20px;
}

.links {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}
